@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
 *, *:before, *:after {
     box-sizing: border-box;
}
 body {
     background: linear-gradient(to bottom, #FBB03B 0%, #175780 65%, #CC353A 100%) fixed; 
     background: url('https://i.ibb.co/NZX8bFy/login3.png') no-repeat center center fixed;
     background-size: cover;
     font: 14px/20px "Lato", Arial, sans-serif;
     color: #000000;
     margin-top: 30px;
}
 .slide-container {
     margin: auto;
     width: 600px;
     text-align: center;
}
 .wrapper {
     padding-top: 40px;
     padding-bottom: 40px;
}
 .wrapper:focus {
     outline: 0;
}
 .clash-card {
     background: white;
     width: 300px;
     display: inline-block;
     margin: auto;
     border-radius: 19px;
     position: relative;
     text-align: center;
     box-shadow: -1px 15px 30px -12px black;
     z-index: 9999;
}
 .clash-card__image {
     position: relative;
     height: 230px;
     margin-bottom: 35px;
     border-top-left-radius: 14px;
     border-top-right-radius: 14px;
}
 .clash-card__image--barbarian {
     background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/1024px-Telegram_2019_Logo.svg.png');
}
 .clash-card__image--barbarian img {
     width: 200px;
     position: absolute;
     top: 0px;
     left: 0;
}
 .clash-card__image--archer {
     background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/1024px-Telegram_2019_Logo.svg.png');
}
 .clash-card__image--archer img {
     width: 200px;
     position: absolute;
     top: 0px;
     left: 0px;
}
 .clash-card__image--giant {
     background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/1024px-Telegram_2019_Logo.svg.png');
}
 .clash-card__image--giant img {
     width: 200px;
     position: absolute;
     top: 0px;
     left: 0px;
}
 .clash-card__image--goblin {
     background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/1024px-Telegram_2019_Logo.svg.png');
}
 .clash-card__image--goblin img {
     width:200px;
     position: absolute;
     top: 0px;
     left: 0px;
}
 .clash-card__image--wizard {
     background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/1024px-Telegram_2019_Logo.svg.png');
}
 .clash-card__image--wizard img {
     width:200px;
     position: absolute;
     top: 0px;
     left: 0px;
}
 .clash-card__level {
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 700;
     margin-bottom: 3px;
}
 .clash-card__level--barbarian {
     color: #ec9b3b;
}
 .clash-card__level--archer {
     color: #ee5487;
}
 .clash-card__level--giant {
     color: #f6901a;
}
 .clash-card__level--goblin {
     color: #82bb30;
}
 .clash-card__level--wizard {
     color: #4facff;
}
 .clash-card__unit-name {
     font-size: 26px;
     color: black;
     font-weight: 900;
     margin-bottom: 5px;
}
 .clash-card__unit-description {
     padding: 20px;
     margin-bottom: 10px;
}
 .clash-card__unit-stats .no-border {
     border-right: none;
}
 .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
 .slick-prev {
     left: 100px;
     z-index: 999;
}
 .slick-next {
     right: 100px;
     z-index: 999;
}
 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #175780, #FFAD6E, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #175780, #f15e64, #e14e53, #CC353A);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}



